@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fancy-link {
    @apply transition text-blue-600 hover:text-sky-500 visited:text-purple-600 visited:hover:text-purple-800 dark:text-blue-300 dark:hover:text-blue-500 dark:visited:text-purple-400 dark:visited:hover:text-purple-500;
  }
}

@layer utilities {
  .skeleton-loader {
    @apply block bg-repeat-y bg-gray-200/80 bg-gradient-to-r from-gray-100/0 via-gray-100/50 to-gray-100/80 animate-pulse;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
  }

  @keyframes shine {
    to {
      background-position: 100% 0;
    }
  }
}